<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple mustache test</title>
  </head>
  <body>
    <h3>This is mustache</h3>
    <p>Value: {{value}}</p>
  </body>
</html>
